a{
  color: inherit;
}
a:hover{
  color: #F11574;
  text-decoration: none;
}
a:active{
  color: #F11574;
}
h1{
  margin: 0;
}
/* Basic Styles */
.main_btn{
  border: solid 3px #F11574;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 15px;
  font-size: 1.5em;
  color: #F11574;
  font-family: 'Lato';
  font-weight: 900;
}
.second_btn{
  border: solid 3px #FFFFFF;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 15px;
  font-size: 1.5em;
  color: #FFFFFF;
  font-family: 'Lato';
  font-weight: 900;
}
.second_btn:hover{
  color: #FFFFFF;
}
/* Navbar */
.main_nav {
  position: fixed;
  height: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #FFFFFF;
  width: 100%;
  z-index: 100;
}

.main_nav__hamb-img {
  width: 1.5rem;
  height: auto;
  float: left;
  color: #F11574;
}

.main_nav__hamb-link {
  padding: 5px;
  border: 1px solid white;
  border-radius: 3px;
  display: inline-block;
  padding-left: 10px;
}

.menu-item {
  color: #F11574;
  font-family: 'Lato';
  font-weight: 900;
  text-decoration: none;
  padding: 0 5px;
  font-size: 1.2em;
}

.main_nav__elements {
  max-height: 0;
  overflow: hidden;
  transition: max-height .5s ease-in-out;
}
.menu{
  list-style: none;
  float: right;
  margin-right: 50px;
}
.menu-item{
  float: left;
  font-size: 1.5em;
}

ul.main_nav__elements.show {
  min-height: 100px;
  background-color: #FFFFFF;

}

/* INICIO - index.html */
/* Home Section */
.main_home__bg{
background-image: url(../images/pink-bg.jpg);
background-repeat: no-repeat;
background-size: cover;
height: 100vh;
}
.main_home__logo{
  position: absolute;
}
.main_home__logo-img{
  max-width: 500px;
  position: relative;
  top: 80px;
  left: 70px;
}
.main_home__text{
position: absolute;
}
.main_home__text-name{
position: relative;
max-width: 600px;
top: 200px;
left: 30px;
}
.main_home__text h1{
  position: relative;
  font-family: 'Lato';
  font-weight: 900;
  color: #F11574;
  font-size: 3em;
  margin-bottom: 0;
  top: 200px;
  left: 35px;
}
.main_home__text h2{
  position: relative;
  font-family: 'Lato';
  font-weight: 900;
  color: #F11574;
  font-size: 2.5em;
  margin-top: 0;
  top: 200px;
  left: 35px;
}
.main_home__btn{
  position: relative;
  top: 220px;
  left: 35px;
}

/* Skills Section */
.main_skills__bg{
  background-color: #414141;
  width: 100%;
  background-size: cover;
  height: 100vh;
}
.main_skills__bg h1{
  font-family: 'Lato';
  font-weight: 900;
  font-size: 3em;
  color: #FFFFFF;
  text-align: center;
  padding-top: 80px;
  margin-top: 0;
}
.flaticon-html{
  color: #FFFFFF;
  font-size: 5em;
}
.flaticon-css{
  color: #FFFFFF;
  font-size: 5em;
}
.flaticon-javascript{
  color: #FFFFFF;
  font-size: 5em;
}
.flaticon-photoshop{
  color: #FFFFFF;
  font-size: 5em;
}
.flaticon-illustrator{
  color: #FFFFFF;
  font-size: 5em;
}
.flaticon-after-effects{
  color: #FFFFFF;
  font-size: 5em;
}
.main_skills__titles{
  display: inline-block;
  font-family: 'Lato';
  font-weight: 900;
  color: #FFFFFF;
  padding-left: 20px;
}

/* Services */
.main_services__bg{
  background-color: #F11574;
  width: 100%;
  background-size: cover;
  height: 100vh;
}
.main_services__bg h1{
  font-family: 'Lato';
  font-weight: 900;
  font-size: 3em;
  color: #FFFFFF;
  text-align: center;
  padding-top: 60px;
  margin-top: 0;
}
.main_services__bg h2{
  font-family: 'Lato';
  font-weight: 400;
  font-size: 2em;
  color: #FFFFFF;
  text-align: center;
}
.flaticon-web-design{
  color: #FFFFFF;
  font-size: 8em;
  display: block;
  text-align: center;
}
.flaticon-smartphone{
  color: #FFFFFF;
  font-size: 8em;
  display: block;
  text-align: center;
}
.flaticon-idea{
  color: #FFFFFF;
  font-size: 8em;
  display: block;
  text-align: center;
}
.flaticon-sketchbook{
  color: #FFFFFF;
  font-size: 8em;
  display: block;
  text-align: center;
}
/* PORTAFOLIO - portfolio.html */
/* Home Section */
.portfolio_home__bg{
  width: 100%;
  height: 100vh;
  background-color: #414141;
  text-align: center;
}

.portfolio_home__logo{
  display: inline-block;
}
.portfolio_home__logo-img{
  max-width: 250px;
  display: inline-block;
  position: relative;
  top: 80px;
  margin-left: auto;
  margin-right: auto;
}
.portfolio_home__title-img{
  max-width: 500px;
  display: block;
  position: relative;
  top: 100px;
  margin-left: auto;
  margin-right: auto;
}
.portfolio_home__counter{
  font-family: 'Lato';
  color: #FFFFFF;
  font-weight: 400;
  font-size: 1.5em;
  position: relative;
  top: 130px;
  margin-bottom: 0;
}
.portfolio_home__counter-text{
  font-family: 'Lato';
  color: #FFFFFF;
  font-weight: 400;
  font-size: 1.2em;
  position: relative;
  top: 130px;
  margin-top: 0;
}
/* Portfolio Items */
.col-lg-6{
  padding: 0;
}
.bx-wrapper{
  margin-top: 100px;
}
.portfolio_items__text-first{
text-align: center;

}
.portfolio_items__text-first h1{
  font-family: 'Lato';
  font-weight: 900;
  color: #FFFFFF;
  font-size: 3em;
  padding-top: 150px;
}

.portfolio_items__text-first h2{
  font-family: 'Lato';
  font-weight: 400;
  color: #FFFFFF;
  font-size: 2em;
}
.portfolio_items{
  background-color: #F11574;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.portfolio_items__text-btn{
  position: relative;
  top: 50px;
}
.portfolio_items__second{
  background-color: #414141;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.portfolio_items__third{
  background-color: #F11574;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
/* BLOG - blog-html */

.contact_home_bg{
  background-color: #F6B9CD;
  background-size: cover;
  width: 100%;
  height: 100vh;
  margin-bottom: 100px;
}
.contact_home{
  text-align: center;
}
.post_thumbnail{
  height: 300px;
}
.post_content{
  box-sizing: border-box;
  padding: 30px;
  text-align: center;
}
.post_content h2{
  color: #F11574;
}
.post_thumbnail img{
  width: 80%;
  height:auto;
  display: inline-block;
}

/* CONTACTO - contact-html */
/* Contact Home */
.blog_home_bg{
  background-color: #F6B9CD;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.blog_home{
  text-align: center;
}
.blog_section{
  background-color: #ffffff;
  height: 100vh;
}
.blog_home__logo{
  display: inline-block;
}
.blog_home__logo-img{
  max-width: 250px;
  display: inline-block;
  position: relative;
  top: 80px;
  margin-left: auto;
  margin-right: auto;
}
.blog_home__title-img{
  max-width: 500px;
  display: block;
  position: relative;
  top: 100px;
  margin-left: auto;
  margin-right: auto;
}
/* Contact form section */
.contact_form{
  background-color: #F11574;
  background-size: cover;
  width: 100%;
  height: 1300px;
}
.contact_btn{
  margin-left: 10%;
}
.contact_home__logo{
  display: inline-block;
}
.contact_home__logo-img{
  max-width: 250px;
  display: inline-block;
  position: relative;
  top: 80px;
  margin-left: auto;
  margin-right: auto;
}
.contact_home__title-img{
  max-width: 500px;
  display: block;
  position: relative;
  top: 100px;
  margin-left: auto;
  margin-right: auto;
}
#map{
   height: 180px;
   margin: 20px;
 }

.form-group{
  width: 80%;
  margin-left: 10%;
}
label{
  font-family: 'Lato';
  font-weight: 400;
  color: #FFFFFF;
  font-size: 1.2em;
}
.contact_form__btn{
  margin-left: 10%;
}
#clientes li{
  display: inline;
  float: left;
  padding: 5px;
}
#clientes li img{
  border-radius: 50%;
  border: solid 3px #fff;
  -webkit-filter: blur(1px); /* Safari 6.0 - 9.0 */
 filter: blur(1px);
}
#clientes li img:hover{
  filter: none;
}
.contact_form h1{
  color: #ffffff;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}
.contact_form__inputs{
  padding-top: 20px;
}

/* Footer */
.footer_container{
  height: 220px;
  width: 100%;
  background-color: #414141;
  position: absolute;
}
.footer_container-icons{
  color: #FFFFFF;
  font-size: 3.1em;
  text-align: center;
  padding: 10px;
  margin-top: 40px;
}
.footer_container-text p{
  font-family: 'Lato';
  font-size: 1.2em;
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .main_nav__hamb {
  display: none;
  }
  .main_nav__elements{
  max-height: 200px;
  background-color: #FFFFFF;
  text-align: center;
  }
  .main_nav__list {
  display: inline-block;
  border-bottom: none;
  }
  .main_nav__list a{
  float: right;
  }
}
@media screen and (max-width: 992px) {
  .footer_container{
    height: 400px;
  }
  .main_home__bg{
  background-image: url(../images/pink-bg.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  }
  .main_home__text{
    width: 100%;
    height: 100vh;
    position: absolute;
    text-align: center;
  }
  .main_home__logo{
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100vh;
  }
  .main_home__logo-img{
  max-width: 276px;
  position: relative;
  top: 80px;
  text-align: center;
  left: 0;
  }
  .main_home__text-name{
  position: relative;
  max-width: 276px;
  top: 350px;
  left: 0%;
  padding: 0;
  }
  .main_home__text h1{
  position: relative;
  font-family: 'Lato';
  font-weight: 900;
  color: #F11574;
  font-size: 2em;
  margin-bottom: 0;
  top: 350px;
  left: 0;
  }
  .main_home__text h2{
  position: relative;
  font-family: 'Lato';
  font-weight: 900;
  color: #F11574;
  font-size: 1.5em;
  margin-top: 0;
  top: 330px;
  left: 0;
  }
  .main_home__btn{
  position: relative;
  top: 350px;
  left: 0;
  }
  .main_skills__bg{
  background-color: #414141;
  width: 100%;
  background-size: cover;
  height: 1200px;
  }
  .main_services__bg{
  background-color: #F11574;
  width: 100%;
  background-size: cover;
  height: 1050px;
  }
  .footer_container-text{
  text-align: center;
  }
  .portfolio_items{
    height: 1200px;
  }
  .portfolio_items__text-first{
    height: 550px;
  }
  .portfolio_items__third{
    height: 1800px;
  }
  .contact_home__title-img{
    max-width: 250px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .main_home__bg{
  background-image: url(../images/pink-bg.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  }

  .footer_container{
    height: 400px;
  }
  .main_home__text{
    width: 100%;
    height: 100vh;
    position: absolute;
    text-align: center;
  }
  .main_home__logo{
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100vh;
  }
  .main_home__logo-img{
  max-width: 276px;
  position: relative;
  top: 80px;
  text-align: center;
  left: 0;
  }
  .main_home__text-name{
  position: relative;
  max-width: 276px;
  top: 350px;
  left: 0%;
  margin: 0;
  padding: 0;
  }
  .main_home__text h1{
  position: relative;
  font-family: 'Lato';
  font-weight: 900;
  color: #F11574;
  font-size: 2em;
  margin-bottom: 0;
  top: 350px;
  left: 0;
  }
  .main_home__text h2{
  position: relative;
  font-family: 'Lato';
  font-weight: 900;
  color: #F11574;
  font-size: 1.5em;
  margin-top: 0;
  top: 350px;
  left: 0;
  }
  .main_home__btn{
  position: relative;
  top: 360px;
  left: 0;
  }
  .footer_container-text{
  text-align: center;
  }
  .contact_form{
    height: 594px;
  }
}
@media screen and (max-width: 576px){
  .footer_container{
    height: 400px;
  }
  .menu-item{
    float: left;
    font-size: 1.3em;
  }
.bx-wrapper{
  margin-top: 0;
}
.portfolio_items{
  height: 800px;
}
.portfolio_items__third{
height: 800px;
}
.portfolio_home__logo-img{
  max-height: 200px;
}
.portfolio_home__title-img{
  max-width: 300px;
}

.portfolio_items__third{
  margin-top: 300px;
}
.main_home__text h1{
  top: 360px;
}
.main_home__text h2{
  top: 360px;
}
.main_home__btn{
  top: 380px;
}
}
@media screen and (max-width: 991px){
  .footer_container{
    height: 400px;
  }
  .main_home__text h1{
    top: 360px;
  }
  .main_home__text h2{
    top: 360px;
  }
  .main_home__btn{
    top: 380px;
  }
  .bx-wrapper{
    margin-left: auto;
    margin-right: auto;
  }
  .portfolio_items__second{
    height: 1200px;
  }
  .portfolio_items__third{
    height: 1000px;
  }
}
